.modal
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  margin: auto auto
  z-index: 100
  width: 500px
  height: 280px
  background-color: #26FF93
  color: black
  font-weight: bold

.modal--show
  opacity: 1
  pointer-events: auto
