<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    div.container
      header.header
        h1.title Controle de Vendas
      main.main
        section.finances
          h2.finances__title Resumo de Vendas
          include templates/tables/taxas
          include templates/tables/resumo
          include templates/tables/projecoes
        section.items
          h2.items__title Informação do Produto
          include templates/tables/item
      footer.footer
    script(src="js/bundle.min.js")
