<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    div.container
      header.header
        h1.title Controle de Vendas
      main.main
        section.finances
          h2.finances__title Resumo de Vendas
          include templates/tables/taxas
          include templates/tables/resumo
          include templates/tables/projecoes
        section.item
          h2.item__title Informação do Produto
          h3.item__filtro Selecione a Marca
          select.item__select
            option.item__option(value="" selected="selected") ---
            option.item__option(value="Todas") Todas
          include templates/lists/items-list
      footer.footer
      div.modal
        include templates/item-modal
    script(src="js/bundle.min.js")
