div.item__table
  div.item-table__head
    div.item-table__head-cell.item-table__item-cod
      p Cód.
    div.item-table__head-cell.item-table__item-qtde
      p Qtde
    div.item-table__head-cell.item-table__item-categoria
      p Categoria
    div.item-table__head-cell.item-table__item-cor
      p Cor
    div.item-table__head-cell.item-table__item-tamanho
      p Taman.
    div.item-table__head-cell.item-table__item-sexo
      p Sexo
    div.item-table__head-cell.item-table__item-valor
      p Valor
    div.item-table__head-cell.item-table__item-lucro
      p Lucro
  div.item-table__body
