div.item__table
  div.item-table__head
    div.item-table__head-cell.item-table__item-cod Cód.
    div.item-table__head-cell.item-table__item-qtde Qtde
    div.item-table__head-cell.item-table__item-categoria Categoria
    div.item-table__head-cell.item-table__item-cor Cor
    div.item-table__head-cell.item-table__item-tamanho Taman.
    div.item-table__head-cell.item-table__item-sexo Sexo
    div.item-table__head-cell.item-table__item-valor Valor
    div.item-table__head-cell.item-table__item-lucro Lucro
  div.item-table__body
