table.item
  tr
    td.item__cod Cod
    td
  tr
    td.item__preco Preço
    td
  tr
    td.item__categoria Categoria
    td
  tr
    td.item__descricao Descrição
    td
  tr
    td.item__cor Cor
    td
  tr
    td.item__sexo Sexo
    td
  tr
    td.item__tamanho Tamanho
    td
  tr
    td.item__quantidade Quantidade Disponível
    td
  tr
    td.item__lucro Lucro
    td
  tr
    td.item__valor_min Valor Min
    td
