table.item
  tr
    td Cod
    td
  tr
    td Preço
    td
  tr
    td Categoria
    td
  tr
    td Descrição
    td
  tr
    td Cor
    td
  tr
    td Sexo
    td
  tr
    td Tamanho
    td
  tr
    td Quantidade Disponível
    td
  tr
    td Lucro
    td
  tr
    td Valor Min
    td
