table.projecoes
  tr
    th Expecativa de lucro(%)
      input.projecoes__input(type="text" placeholder="130")
  tr
    td Valor para total de items
    td.projecoes__valor-total 0
  tr
    td Valor para itens restantes
    td.projecoes__valor-restante 0
