table.table-finances.finances__projecoes
  thead
    tr
      th Lucro(%)
        input.projecoes__input(type="number" value="130")
  tbody
    tr
      td Valor para total de items
      td.projecoes__valor-total 0
    tr
      td Valor para itens restantes
      td.projecoes__valor-restante 0
