table.resumo
  tr
    th Resumo
  tr
    td Total de Items
    td.resumo__items 0
  tr
    td Total Vendidos
    td.resumo__vendidos 0
  //- tr
  //-   td Lucro Médio
  //-   td.resumo__lucro-medio 0
  tr
    td Valor Pago Total
    td.resumo__valor-pago 0
  tr
    td Valor Vendas Total
    td.resumo__valor-vendas 0
