table.table-finances.finances__resumo
  thead
    tr
      th Resumo
  tbody
    tr
      td Items Comprados
      td.resumo__items 0
    tr
      td Itens Vendidos
      td.resumo__vendidos 0
    tr
      td Valor Pago Total
      td.resumo__valor-pago 0
    tr
      td Valor Vendas Atuais
      td.resumo__valor-vendas 0
    tr
      td Valor Vendas Total Previsto
      td.resumo__valor-total-previsto 0
    tr
      td Lucro Médio Atual
      td.resumo__lucro-medio 0
