div.intro
  div.intro__logo
  div.intro__btn-wrapper
    div.intro__finances
      p.intro__finances-text Resumo Financeiro
      img.intro__finances-img(src="/img/finances-icon.svg", alt="graph")
    div.intro__item
      p.intro__item-text Busca de Produtos
      img.intro__item-img(src="/img/item-icon.svg", alt="t-shirt")
