table.item
  tr
    td Código
    td.item__code
  tr
    td Preço
    td.item__preco
  tr
    td Categoria
    td.item__categoria
  tr
    td Descrição
    td.item__descricao
  tr
    td Cor
    td.item__cor
  tr
    td Sexo
    td.item__sexo
  tr
    td Tamanho
    td.item__tamanho
  tr
    td Quantidade Disponível
    td.item__quantidade
  tr
    td Lucro
    td.item__lucro
  tr
    td Valor Min
    td.item__valor_min
