div.modal__close-btn
table.modal__item
  tr
    td Código
    td.modal__code
  tr
    td Preço
    td.modal__preco
  tr
    td Categoria
    td.modal__categoria
  tr
    td Descrição
    td.modal__descricao
  tr
    td Cor
    td.modal__cor
  tr
    td Sexo
    td.modal__sexo
  tr
    td Tamanho
    td.modal__tamanho
  tr
    td Quantidade Disponível
    td.modal__quantidade
  tr
    td Lucro
    td.modal__lucro
  tr
    td Valor Min
    td.modal__valor_min
