@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  height: 100%
  width: 100%

.container
  height: 100%
  width: 100%
  background:
    image: url(../../img/bg3.jpg)
    size: cover
    repeat: no-repeat
    position: center

@import 'modules/header.sass'
@import 'modules/item.sass'
@import 'modules/finances.sass'
@import 'modules/modal.sass'
