@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  height: 100%
  width: 100%
  overflow: hidden

p, h1, h2, h3, li, ul, select, option
  margin: 0
  padding: 0

.container
  position: relative
  height: 100%
  width: 100%

.main
  max-width: 840px
  height: 80vh
  z-index: 200
  position: absolute
  bottom: 2vh
  left: 2%
  right: 2%
  top: 16vh
  margin: auto auto

@import 'modules/background.sass'
@import 'modules/intro.sass'
@import 'modules/header.sass'
@import 'modules/item.sass'
@import 'modules/finances.sass'
@import 'modules/modal.sass'
@import 'modules/select.sass'
@import 'modules/footer.sass'

@import 'media/max-width-720px.sass'
// .intro
//   display: none
// .header
//   opacity: 1
//   transform: translate3D(0, 0, 0)
.main
  // background-color: orangered
  // outline: solid black 5px
