@media screen and (max-width: 720px)
  .header__logo
    display: none
  .header__logo--small
    display: block
    width: 38px
    height: auto
    position: absolute
    left: 8%
    top: 60%
    transform: translateY(-50%)
  .header
    height: 12vh
    background-color: transparent
  .header__nav
    margin: 4% 5% 2% 0%
  .header__finances, .header__item
    height: 48px
    width: 48px

  .intro__finances, .intro__item
    width: 100%

  .main
    left: 0
    right: 0
    width: 100%

  .item__filtro
    border-left: none
    left: -2px
    width: 70%
    height: 45px

  .item__select
    padding-left: 4px

  .item__table
    font-size: 12px
  .item-table__body
    height: 60.5vh

  .item-table__item-valor
    border-right: none

  .finances
    height: 75vh
    font-size: 14px

  .item-table__head-cell
    font-size: 13px

  .item-table__item-cod
    width: 11%
  .item-table__item-qtde
    width: 5%
    display: none
  .item-table__item-categoria
    width: 25%
  .item-table__item-cor
    width: 23%
  .item-table__item-tamanho
    width: 14%
  .item-table__item-sexo
    width: 15%
  .item-table__item-valor
    width: 13%
  .item-table__item-lucro
    width: 8%
    display: none
